<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/productCss.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/Doc/syntax-highlighter/styles/shCore.css" media="all">
    <link rel="stylesheet" type="text/css" href="/Doc/syntax-highlighter/styles/shThemeDefault.css" media="all">
    <link rel="stylesheet" href="/Doc/css/normalize.min.css">
    <link rel="stylesheet" href="/Doc/css/main.css">
    <title>User List</title>

</head>
<body>

    <aside class="left-sidebar">
        <div class="logo">
            <a href="/admin">
                <h1>Fashion</h1>
                <h3 style="color: cornsilk">Admin DashBoard</h3>
            </a>
        </div>

        <div class="btn-group-vertical" style="margin-left:11%">
            <button type="button" class="btn btn-outline-light">
                <a href="/products" style="color: #96dd3b">Product Governance</a></button>
            </br>
            <button type="button" class="btn btn-outline-light">
                <a href="/admin/user" style="color: #96dd3b">Customer Governance</a></button>
            </br>
            <button type="button" class="btn btn-outline-light">
                <a href="/categories" style="color: #96dd3b">Category Governance</a></button>
            </br>
            <button type="button" class="btn btn-outline-light">
                <a href="/producers" style="color: #96dd3b">Producer Governance</a></button>
            </br>
            <button type="button" class="btn btn-outline-light">
                <a href="/products" style="color: #96dd3b">Oder Manage</a></button>
            </br>

        </div>
    </aside>

    <div id="main-wrapper">
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand">User Manage - User List</a>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="s">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>

        <table id="customers" style="table-layout: fixed;margin-left: 2%;">
            <tr>
                <th>UserName</th>
                <th>Password</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>age</th>
                <th>email</th>
                <th>phoneNumber</th>
                <th>address</th>
                <th>role</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>View</th>
            </tr>
            <th:block th:each="user : ${users}">
                <tr>
                    <td th:text="${user.userName}"></td>
                    <td th:text="${user.password}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.age}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.phoneNumber}"></td>
                    <td th:text="${user.address}"></td>
                    <td th:text="${user.role.getName()}"></td>
                    <td><a th:href="@{/admin/edit-user/__${user.userId}__ }">Edit</a></td>
                    <td><a th:href="@{/admin/delete-user/__${user.userId}__ }">Delete</a></td>
                    <td><a th:href="@{/admin/view-user/__${user.userId}__ }">View</a></td>
                </tr>
            </th:block>
        </table>

        <div style="margin-left: 2.5%">
            <a th:href="@{'/admin/user'(page=${users.number - 1})}" th:if="${users.hasPrevious()}">Previous</a>
            <span th:text="${users.number + 1}"></span>/<span th:text="${users.totalPages}"></span>
            <a th:href="@{'/admin/user'(page=${users.number + 1})}" th:if="${users.hasNext()}">Next</a>
        </div>
        </br>
        <div>
            <a style="margin-left: 2.5%" href="/admin/create">
                <button type="submit" class="btn btn-outline-primary">Create New User</button>
            </a>
        </div>
    </div>

</body>
</html>