<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/productCss.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/Doc/syntax-highlighter/styles/shCore.css" media="all">
    <link rel="stylesheet" type="text/css" href="/Doc/syntax-highlighter/styles/shThemeDefault.css" media="all">
    <link rel="stylesheet" href="/Doc/css/normalize.min.css">
    <link rel="stylesheet" href="/Doc/css/main.css">
    <title>User View</title>
<body>

<aside class="left-sidebar">
    <div class="logo">
        <a href="/admin">
            <h1>Fashion</h1>
            <h3 style="color: cornsilk">Admin DashBoard</h3>
        </a>
    </div>

    <div class="btn-group-vertical" style="margin-left:11%">
        <button type="button" class="btn btn-outline-light">
            <a href="/products" style="color: #96dd3b">Product Governance</a></button>
        </br>
        <button type="button" class="btn btn-outline-light">
            <a href="/admin/user" style="color: #96dd3b">Customer Governance</a></button>
        </br>
        <button type="button" class="btn btn-outline-light">
            <a href="/categories" style="color: #96dd3b">Category Governance</a></button>
        </br>
        <button type="button" class="btn btn-outline-light">
            <a href="/producers" style="color: #96dd3b">Producer Governance</a></button>
        </br>
        <button type="button" class="btn btn-outline-light">
            <a href="/products" style="color: #96dd3b">Oder Manage</a></button>
        </br>

    </div>
</aside>

<div id="main-wrapper">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand">User Manage - View User</a>
        <form class="form-inline">
            <button type="button" class="btn btn-outline-primary">
                <a href="/admin/user" style="color: #96dd3b">Go Back User List</a></button>
            </br>
        </form>
    </nav>
    <div id="customers">
        <h3>User Detail</h3>
        </br>

        <div id="detail">
            <div class="cusdetail">
                <label>Name:</label>
                <label th:text="${user.userName}"></label>
            </div>
            <div class="cusdetail">
                <label>First Name:</label>
                <label th:text="${user.firstName}"></label>
            </div>
            <div class="cusdetail">
                <label>Last Name:</label>
                <label th:text="${user.lastName}"></label>
            </div>
            <div class="cusdetail">
                <label>Email:</label>
                <label th:text="${user.email}"></label>
            </div>
            <div class="cusdetail">
                <label>Address:</label>
                <label th:text="${user.address}"></label>
            </div>
            <div class="cusdetail">
                <label>Phone Number:</label>
                <label th:text="${user.phoneNumber}"></label>
            </div>
            <div class="cusdetail">
                <label>User Password:</label>
                <label th:text="${user.password}"></label>
            </div>
            <div class="cusdetail">
                <label>Role:</label>
                <label th:text="${user.roles}"></label>
            </div>
        </div>
    </div>
</div>
</body>
</html>